<a href="https://colab.research.google.com/github/kang1006/theme-premium/blob/master/Theme-Premium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# 변수 저장하기
tickers = ['QYLD', 'BIL', 'AOR']
start_date = '2000-01-01'  # 시작일
end_date = '2023-06-30'  # 종료일

obs_period = np.array([3, 6, 9, 12])
skip_period = np.array([1])

In [9]:
# 데이터 불러오기
data = yf.download(tickers, start=start_date, end=end_date)['Close']
data.dropna(inplace=True)
print(data)

[*********************100%***********************]  3 of 3 completed

                  AOR        BIL       QYLD
Date
2013-12-12  37.669998  91.580002  25.040001
2013-12-13  37.669998  91.580002  25.020000
2013-12-16  37.840000  91.559998  25.049999
2013-12-17  37.799999  91.559998  25.070000
2013-12-18  38.150002  91.580002  25.030001
...               ...        ...        ...
2023-06-23  50.830002  91.720001  17.480000
2023-06-26  50.840000  91.730003  17.350000
2023-06-27  50.930000  91.750000  17.559999
2023-06-28  51.080002  91.760002  17.580000
2023-06-29  51.090000  91.790001  17.570000

[2402 rows x 3 columns]

In [ ]:
# 모멘텀 계산하기
for obs in obs_period:
    obs_month = str(obs) + 'mo'
    for skip in skip_period:
        skip_month = str(skip) + 'mo'

        roc = (data.pct_change(obs) - data.pct_change(obs + skip)).rename(columns=lambda x: f"roc_{x}_{obs}_{skip}")
        data = data.join(roc)

        # (4)
        roc_qyld = roc[f"roc_QYLD_{obs}_{skip}"]
        roc_bil = roc[f"roc_BIL_{obs}_{skip}"]
        abs_momentum = (roc_qyld > roc_bil).astype(int).rename(
            f"abs_momentum_{obs}_{skip}")
        data = data.join(abs_momentum)